---
import Layout from '../layouts/Layout.astro'
---
<Layout>
    <div class="container text-center">
	<h1 class="text-center py-3">Esta pagina no existe</h1>
    <p class=" container text-center">¡Lo siento! Parece que te has topado con un error 404 en nuestra página web. Permíteme disculparme por cualquier inconveniente que 
        esto pueda haber causado. Nuestro equipo está trabajando arduamente para asegurarse de que todos los enlaces estén actualizados y 
        funcionando correctamente. Agradecemos tu comprensión y paciencia mientras trabajamos para solucionar este problema. ¡Estamos comprometidos 
        en brindarte la mejor experiencia de usuario posible! <a href="/">Vuelve a inicio aqui</a></p>
    <img class="img-fluid" src="../../public/error-404.png" alt="">
    </div>
</Layout>

<style>
    body{
        background-color: #293740;
    }
    div{
        color: white;
    }
</style>