<div class="container">
<div class="row">
<div class="card" style="width: 18rem;">
    <img src="card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio 1</h5>
      <p class="card-text text-center">Capacitación en vuelo espacial: Nuestros astronautas están altamente capacitados en todos los aspectos del vuelo espacial, incluyendo el entrenamiento en simuladores de vuelo y la familiarización con la tecnología y los sistemas de la nave espacial.</p>
      <a href="#" class="btn btn-primary">Contratar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="card2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio 2</h5>
      <p class="card-text">Mantenimiento y reparación de naves espaciales: Los astronautas son expertos en el mantenimiento y la reparación de equipos y sistemas a bordo de las naves espaciales. Están preparados para solucionar problemas y realizar reparaciones en situaciones de gravedad cero.</p>
      <a href="#" class="btn btn-primary">Contratar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="card3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio 3</h5>
      <p class="card-text">Experimentación científica en el espacio: Nuestros astronautas desempeñan un papel crucial en la realización de experimentos científicos en microgravedad. Contribuyen al avance de la ciencia y la investigación en áreas como la biología, la física, la medicina y la astronomía.</p>
      <a href="#" class="btn btn-primary">Contratar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="card4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio 4</h5>
      <p class="card-text">Soporte a la exploración espacial tripulada: Los astronautas brindan apoyo a las misiones de exploración espacial tripuladas, ya sea en la Estación Espacial Internacional o en futuras misiones a la Luna y Marte.</p>
      <a href="#" class="btn btn-primary">Contratar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="card5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio 5</h5>
      <p class="card-text">Realización de caminatas espaciales: Los astronautas llevan a cabo caminatas espaciales, también conocidas como EVA (Actividad Extravehicular), para realizar tareas fuera de la nave espacial.</p>
      <a href="#" class="btn btn-primary">Contratar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="card6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio 6</h5>
      <p class="card-text">Comunicación y divulgación científica: Nuestros astronautas son excelentes comunicadores y embajadores de la ciencia. Participan en conferencias, charlas y eventos públicos para compartir su experiencia en el espacio y promover la educación científica.</p>
      <a href="#" class="btn btn-primary">Contratar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="card7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio 7</h5>
      <p class="card-text">Entrenamiento en supervivencia y rescate: Los astronautas reciben entrenamiento en supervivencia y rescate en caso de que ocurra una situación de emergencia durante el lanzamiento o el aterrizaje de la nave espacial. </p>
      <a href="#" class="btn btn-primary">Contratar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="card8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio 8</h5>
      <p class="card-text">Investigación y desarrollo de tecnología espacial: Los astronautas también participan en la investigación y desarrollo de nuevas tecnologías espaciales. Colaboran con ingenieros y científicos en la mejora de sistemas de navegación.</p>
      <a href="#" class="btn btn-primary">Contratar</a>
    </div>
  </div>
</div>
</div>