<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="astro-calculadora-13-300x300.png" alt="" width="120" height="120">
    <h1 class="display-5 fw-bold text-body-emphasis">Inicio</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">¡Explora el infinito en el fascinante mundo de los astronautas!


        Bienvenido a nuestra página web dedicada a los valientes hombres y mujeres que han viajado más allá de los límites de la Tierra y se han aventurado en el espacio. Aquí encontrarás información emocionante y fascinante sobre la vida y el trabajo de los astronautas.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Aceptar</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Rechazar</button>
      </div>
    </div>
  </div>